@use 'sass:map';
@use '@angular/material' as mat;

@import 'apps/osv-frontend/src/app/styles/base/variables';

.osv-theme {
  .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    color: #fff;
  }

  .mat-option-text {
    display: flex;
    justify-content: space-between;
  }
}

@mixin autocomplete-theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');

  $primary-dark-color: mat.get-color-from-palette($primary-palette, DarkBlue);
  $primary-light-color: mat.get-color-from-palette($primary-palette, Light);
  $primary-white-color: mat.get-color-from-palette($primary-palette, White);


.mat-option {
    .search-fields {
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: bold;
      color: $primary-dark-color;
      .search-input {
        &-exchange {
          margin-left: auto;
        }
        &-ticker {
          margin-right: .5rem;
        }
        &-title.matched, &-ticker.matched {
          color: $osv-color-blue;
        }
        &-grade, &-without-grade {
          width: 1.2rem;
          height: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: .5rem;
          border-radius: .1rem;
          color: $primary-white-color;
          background: $primary-dark-color;
        }
        &-without-grade {
          background: $primary-white-color;
        }
      }
    }
    &:hover:not(.mat-option-disabled),
    &:focus:not(.mat-option-disabled) {
      background: $primary-light-color;

      .search-fields {
        color: $primary-white-color;
        .search-input {
          &-ticker, &-title, &-grade, &-exchange {
            color: $primary-white-color;
          }
          &-without-grade {
            background: $primary-light-color;
          }
        }
      }
    }
  }

/*
.cdk-overlay-container {
    pointer-events: none;
    position: relative;
    left: -2.625rem;
    height: 100%;
    width: 100%;
    .cdk-overlay-pane {
      width: 55%!important;
      .mat-autocomplete-panel.mat-autocomplete-visible {
        min-height: 4rem;
        margin-top: 1rem;
      }
    }
  }
  */
}
