@use 'sass:map';
@use '@angular/material' as mat;

@import 'apps/osv-frontend/src/app/styles/base/variables';

@mixin progress-bar-theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');

  #osv-summary-progress-bar {
    height: 1.25rem;
    border-radius: .25rem;
  }
  .osv-summary-progress {
    margin-top: $osv-size-1rem;
    .ticker-link {
      color: $osv-ticker-link-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        outline: none;
      }
    }
  }

  .progress-bar {
    display: flex;
    .ratio {
      padding-left: $osv-size-1rem;
    }
  }

  .progress {
    width: 100%;
    position: relative;
    z-index: 1;

    &.inherit {
      .mat-progress-bar-primary.mat-progress-bar-fill.mat-progress-bar-element,
      .mat-progress-bar-fill::after,
      .mat-progress-bar.mat-primary,
      .mat-progress-bar.mat-primary > div{
        background: inherit;
      }
    }

    &.warning {
      .mat-progress-bar-fill::after {
        background-color: $osv-warning-progress-color;
      }
      .mat-progress-bar-buffer {
        background: $osv-warning-buffer-progress-color;
      }
    }
    &.bad {
      .mat-progress-bar-fill::after {
        background-color: $osv-warning-progress-color;
      }
      .mat-progress-bar-buffer {
        background: $osv-warning-buffer-progress-color;
      }
    }
    &.fair {
      .mat-progress-bar-fill::after {
        background-color: $osv-fair-progress-color;
      }
      .mat-progress-bar-buffer {
        background-color: $osv-fair-buffer-progress-color;
      }
    }
    &.good {
      .mat-progress-bar-fill::after {
        background-color: $osv-good-progress-color;
      }
      .mat-progress-bar-buffer {
        background-color: $osv-good-buffer-progress-color;
      }
    }
    &.great {
      .mat-progress-bar-fill::after {
        background-color: $osv-great-progress-color;
      }
      .mat-progress-bar-buffer {
        background-color: $osv-great-buffer-progress-color;
      }
    }
    .progress-status {
      position: absolute;
      color: $osv-white-color;
      z-index: 2;
      top: 0;
      left: 20%;
    }
  }
}
