@use 'sass:map';
@use '@angular/material' as mat;

@import 'apps/osv-frontend/src/app/styles/base/variables';

@mixin table-theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
}

.cell-content {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: .75rem 1rem;
  box-sizing: border-box;
}

.cell-content.no-padding {
  padding: 0;
}

.osv-theme .osv-table.top-table { border-bottom: 1px solid #ddd; }

.osv-theme .osv-table {
  width: 100%;

  .no-scroll-table { overflow: hidden !important; }

  .static-divider {
    height: 1.1rem;
    width: calc( 100% - 1px );
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }

  .static {
    overflow: hidden;
    box-sizing: border-box;
  }

  .dynamic {
    width: 100%;
    overflow: auto;

    table {
      width: 100%;
    }
  }

  .cursor {
    cursor: pointer;
  }

  .sort-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
  }

  th {
    top: 0;
    z-index: 50;
    position: sticky;
    background: #fff;
    padding: .75rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;

    .cell-content {
      display: flex;
      align-items: center;
      padding: 0 !important;
      width: 100%;
      height: 100%;
      color: #54657e;
      font-weight: 500;
    }
  }

  td.no-border {
    border-top: 0;
  }

  td {
    background: #fff;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    border-top: 1px solid #ddd;

    .cell-content {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  tr {
    background: #fff;
    border-spacing: 0 !important;
  }

  .border-right { border-right: 1px solid rgba(0, 0, 0, 0.12); }

  .border-left {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  // CUSTOM TABLES

  &.matrix-table  {
    .cell-content { padding: 0; }
    tr {
      th {
        padding: .5rem;
        .cell-content { justify-content: center }
        border-top: none;
      }
      td {
        font-weight: normal;
        font-size: 0.75rem;
        border-top: none;
        padding: .5rem;
        .cell-content { justify-content: center }
        &:first-child, &:last-child {
          border-right: .125rem solid #ddd;
        }
      }
      &:nth-last-of-type(1) td {
        border-bottom: .125rem solid #ddd;
        &:first-child {
          border-bottom: none;
        }
      }
      &:first-child {
        th {
          &:first-child {
            border-top: none;
            border-bottom: none;
          }
          .cell-content {
            font-weight: normal;
            font-size: 0.75rem;
          }
        }
        th:nth-of-type(5) .cell-content {
          font-weight: 700;
          font-size: 1rem;
        }
      }
      &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), {
        td {
          &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
            background-color: #fffbf2;
          }
        }
      }
      &:nth-of-type(4) {
        td:first-child {
          font-weight: 700;
          font-size: 1rem;
        }
        .matrix-up span, .matrix-down span {
          font-size: 1rem;
          color: white!important;
          text-align: center;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
        }
        .matrix-up {
          background-color: #04be5b!important;
        }
        .matrix-down {
          background-color: #ce355d!important;
        }
      }
    }
  }

  &.katsenelson-table  {
    tr {
      th {
        display: none;
      }
      td {
        padding: 0 1rem;
        border-top: .0675rem solid #ddd;
        .cell-content {
          font-size: .8rem;
          font-weight: 700;
          color: #777;

          .katsenelson-icon {
            font-size: 1.2rem;
            margin-bottom: 0.625rem;
            margin-left: 0.25rem;
            vertical-align: sub;
          }
        }
        &:first-child {
          border-right: .0675rem solid #ddd;
          .cell-content {
            color: #7f93af;
          }
        }
      }
    }
  }

  &.mapping-table {
    tr {
      th {
        .cell-content {
          font-weight: 700;
          font-size: .8rem;
          color: #7f93af;
          justify-content: center;
        }
      }
      td {
        .cell-content {
          font-size: .8rem;
          font-weight: 700;
          color: #777777;
          justify-content: center;
        }
      }
      &:nth-of-type(odd) {
        td {
          background: #f5f7f8;
        }
      }
    }
  }

  &.historical-expanded-table, &.historical-table {
    tr th, tr td {
      width: 6.75rem;
    }
  }

  &.historical-expanded-table {
    tr th {
      display: none;
    }
  }

  &.download-area-table  {

    tr {
      td {
        padding-top: 1.5rem;
        vertical-align: top;
        .cell-content ul {
          margin-top: 0;
          padding-left: .8rem;
        }
      }
    }
  }

  &.ebit-table {
    tr {
      height: 3.375rem;
      th .cell-content {
        font-size: .8rem;
        color: #b8b8b8;
        font-weight: 700;
        justify-content: center;
      }
      th:first-child {
        vertical-align: sub;
        .cell-content {
          justify-content: left;
          color: #7f93af;
        }
      }
      &:first-child {
        height: 4rem;
      }
      &:nth-of-type(odd) td {
        background: #f5f7f8;
      }
      &:nth-child(14) td {
        .cell-content {
          font-weight: 700;
          color: #54657e;
        }
      }
      td {
        font-size: .8rem;
        .cell-content {
          justify-content: center;
          text-align: center;

          .table-input.mat-form-field.mat-form-field {
            text-align: center;
          }
        }
        .spinner {
          top: -.5rem;
          background: none;
        }
      }
    }
    tr td:first-child .cell-content { justify-content: left; }
  }

  &.filing-update-table {
    tr td .link.type-link {
      color: #3a9bea;
    }
    tr th {
      text-decoration: none;
    }
  }

  &.riskFactors-table  {
    tr {
      th {
        .cell-content {
          width: 8rem;
          font-size: .8rem;
          font-weight: 700;
          color: #7f93af;
          justify-content: center;
        }
        &.excellent .cell-content { color: #04be5b; }
        &.poor .cell-content { color: #ce355d; }
        &.average .cell-content { color: #ff9e01; }
        &:first-child .cell-content {
          justify-content: left;
        }
      }
    }
  }

  &.determine-table {
    tr {
      th {
        .cell-content {
          font-size: .8rem;
          font-weight: 700;
          color: #54657e;
          justify-content: center;
        }
        &:first-child .cell-content {
          font-size: .9rem;
          color: #7f93af;
          justify-content: left;
        }
      }
      td {
        .cell-content {
          font-size: .8rem;
          font-weight: 700;
          color: #777777;
          justify-content: center;
        }
        &:first-child .cell-content {
          justify-content: left;
        }
      }
      &:nth-of-type(odd) {
        td {
          padding: 0 1rem;
          .cell-content {
            padding-top: 0;
            padding-bottom: 0;
            .material-icons {
              font-size: 1rem;
              font-weight: 900;
            }
          }
          &:first-child .cell-content {
            color: #777;
            font-size: 0.6875rem;
            font-weight: 400;
            font-style: italic;
            padding-left: 0;
          }
        }
      }
    }
  }

  &.portfolio-transactions-table {
    tr td {
      vertical-align: baseline;
    }
  }

  &.top-stock-table tr {
    th .cell-content  {
      font-size: .8rem;
      color: #b1b4ba;
    }
    &:hover > td {
      background-color: #f5f5f5;
    }
  }

  &.key-ratios-table {
    tr {
      td {
        .cell-content {
          min-height: 4rem;
          font-size: .8rem;
        }
      }
    }
    th {
      font-size: .8rem;
      padding: .75rem 1rem;
      white-space: nowrap;
      border-bottom: .3125rem solid #d3dae5;
      .cell-content {
        color: #b8b8b8;
      }
      &:first-child .cell-content {
        font-size: 1.1rem;
        color: #54657e;
        font-weight: 700;
        min-width: 11.875rem !important;
        padding-left: 0;
      }
    }
    td {
      &:first-child {
        z-index: 1;
      }
    }
    .dynamic table th:first-child .cell-content {
      font-size: .8rem;
      color: #b8b8b8;
      min-width: auto !important;
    }

    .slider-range-ratios {
      .label-group  {
        display: flex;
        justify-content: space-between;
      }
      .mat-slider {
        min-width: 11.875rem;
        height: auto;
        &>.mat-slider-wrapper{
          top: .7rem;
          &>.mat-slider-track-wrapper {
            height: .25rem;
            &>.mat-slider-track-fill,
            &>.mat-slider-track-background {
              height: .25rem;
            }
            &>.mat-slider-track-fill {
              background-color: #54657e;
            }
          }
          &> .mat-slider-thumb-container .mat-slider-thumb {
            background-color: #54657e;
          }
        }
        &.progress-percent {
          .mat-slider-wrapper > .mat-slider-thumb-container .mat-slider-thumb {
            background-color: #d9534f;
          }
          &.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
            border-color: #d9534f;
          }
        }
      }
    }
  }

  // Header table has color grey
  &.header-gray-color {
    tr {
      th {
        .cell-content {
          min-width: 5rem;
          font-weight: 700;
          font-size: .8rem;
          color: #b1b4ba;
        }
      }
    }
  }

  &.hover-selection-row { tr { &:hover > td { background-color: #f5f5f5; } } }
}

