@use 'sass:map';
@use '@angular/material' as mat;

@import 'apps/osv-frontend/src/app/styles/base/variables';

.osv-theme {
  background: #343f56;

  .mat-tab-label.new-tab {
    min-width: 2.5rem;
    width: 2.5rem;
    max-width: 2.5rem;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }

  .mat-tab-group.hidden > .mat-tab-header{
    height: 0;
    padding: 1rem 0 0 0;
  }
}

@mixin tabs-theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $color: mat.get-color-from-palette($primary-palette, Gray);
  $hover: mat.get-color-from-palette($primary-palette, Hover);

  .mat-tab-label {
    position: relative;
    padding-right: 2rem;
    box-sizing: border-box;
  }

  .mat-tab-labels, .mat-tab-label, .mat-tab-link {
    font-weight: $title-font-weight;
  }

  .mat-tab-label, .mat-tab-link {
    @include mat.typography-level($osv-typography-config, 'body-1');
    font-weight: 700;
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: $color;
    height: .1875rem;
  }

  .mat-tab-label {
    background: #fff;
    border: 1px solid $osv-main-content-border-color;
    border-radius: .3rem .3rem 0 0;
    padding: 0 1rem !important;

    &:hover {
      background: $hover;
    }
  }

  .mat-tab-header {
    background-color: transparent;
  }

  .mat-tab-label-active:not(.mat-tab-disabled),
  .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
    opacity: 1;
  }

  .mat-tab-group-with-button-panel {
    margin: 0 .375rem .375rem;
    .mat-tab-label {
      background: #ddd;
      opacity: 0.4;
      margin-right: .0625rem;
      padding: 0 .9375rem;
      border-top-right-radius: .25rem;
      border-top-left-radius: .25rem;
    }

    .mat-tab-label-active:not(.mat-tab-disabled),
    .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
      opacity: 1;
      position: relative;
      top: .125rem;
      background: white;
      .mat-tab-label-content {
        padding-bottom: .25rem;
      }
  }
    .mat-tab-list {
      margin: 0 .375rem;
    }
    .mat-tab-labels {
      display: flex;
      border-bottom: $osv-border-2;
    }
    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      height: 0;
    }
    .mat-tab-nav-bar, .mat-tab-header {
      border-bottom: none;
    }
}
}
