<mat-toolbar color="primary">
  <section>
      <button mat-icon-button  color="accent" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
      </button>
      <span class="mat-headline">My App</span>
  </section>

  <section>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
  </section>
</mat-toolbar>

