<div class="app-container">
  <header>
      <app-header></app-header>
  </header>
  <main>
      <mat-sidenav-container (backdropClick)="close('backdrop')">

          <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
              <p>
                  <button mat-button (click)="close('toggle button')">Toggle</button>
              </p>
          </mat-sidenav>

          <mat-sidenav-content class="mat-elevation-z1">
                <mat-toolbar>
                  <mat-toolbar-row>
                    <h2>APP_TOOLBAR_TITLE </h2>
                  </mat-toolbar-row>
                </mat-toolbar>
              <h1>Angular Material Theming System: Complete Guide</h1>
              <p>Lorem*40</p>
              <router-outlet></router-outlet>
          </mat-sidenav-content>
      </mat-sidenav-container>
  </main>
  <footer>
      <app-footer></app-footer>
  </footer>
</div>






