$primary: (
  Main: #337ab7,
  Light: #6a80a1,
  Dark: #262e40,
  Gray:#6d84a6,
  White: #fff,
  Caption: #b1b4ba,
  DarkBlue: #54657e,
  Navbar: #343f56,
  IconsGray: #54657e,
  Hover: #f4f9fd,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #fff
  ));
$accent: (
  Main: #5cb85c,
  Light: #8feb8b,
  Dark: #26872f,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #fff
  ));
$warn: (
  Main: #d9534f,
  Light: #ff847b,
  Dark: #a21e27,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #000000
  ));
$background: (
  Main:#343f57,
  Light:#5f6a84,
  Dark: #0b192e,
  contrast: (
    Main: #f5f5f5,
    Light: #000,
    Dark: #fff
  ));
$foreground: (
  Main: #3782be,
  Light: #70b1f1,
  Dark: #00568d,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #fff
  ));
